p {color: red; line-height: 3.0;}
table{
  border-collapse: collapse;
}
.table-data th {
  text-align: right;
  border: solid 1px #000;
  padding: 0.5em;
}
.table-data td {
  font-size: 30px;
  border: solid 1px #000;
  padding: 0.5em;
}
.table-exp th,td {
  padding: 2em;
  border: solid 1px #000;
}
.table-margin {
  margin-bottom: 10px;
}
